body {
  font-size: 2vw; /* La taille du texte s'ajuste à la largeur de la fenêtre */
}
.gang{
  margin-top: 30%;
}

/* Styles par défaut (pour les grands écrans) */
body {
  font-size: 16px;
}

/* Pour les écrans de moins de 768px (tablettes et mobiles) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* Pour les écrans de moins de 480px (smartphones) */
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}



header {
    background-image: url(téléchargement.png);
    margin-top: 0px;
    color: blue;               /* Couleur du texte en blanc */
    text-align: center;         /* Centrer le texte */
    padding: 50px 0;            /* Ajouter de l'espace autour du texte */
    width: 100%; /* largeur de 100% */
    height: 100px; /* ou toute autre hauteur souhaitée */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.YOU{
    text-align: center;
}

header p {
    font-size: 20px;
}

header h3:hover {
    color: blue;            /* Changer la couleur du lien en jaune pâle au survol */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Animation fluide */
    transform: scale(1.1);       /* Agrandir l'élément à 110% de sa taille */
    background-color: rgb(138, 134, 134);   /* Changer la couleur de fond au survol */
}

body{
    background-color: grey;
}

@media (max-width: 768px) {
    /* Styles spécifiques aux écrans de moins de 768px (comme les téléphones) */
    .container {
      padding: 10px;
    }
  }
  

.text{
    text-align: center;
}

.learn{
    text-align: center;
}

.att{
    text-align: center;
    color: red;
}

.att:hover{
    color: green;
    background-color: black;
}

.divi{
    margin-left: 170px;
    text-decoration: none;
    text-align: center;
}

.lien1{
    text-decoration: none;
}
.lien1:hover{
    color: aqua;
}

.lien2{
    text-decoration: none;
    margin-left: 140px;
}
.lien2:hover{
    color: aqua;
}

.lien3{
    text-decoration: none;
    margin-left: 180px;
}
.lien3:hover{
    color: aqua;
}

body, header, footer {
  margin: 0;
  padding: 0;
}

footer{
    color: white;
    background-color: black;
    text-align: centre;
    width: 100%;
    height: 100px;
}


